<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests" parallel="none">
    <listeners>
        <listener class-name="com.test.mark1.listeners.AllureListener"/>
        <listener class-name="com.test.mark1.core.RetryTransformer"/>
    </listeners>
    <test name="UI Tests">
        <packages>
            <package name="com.test.mark1.tests"/>
        </packages>
    </test>
</suite>
